@if (isEdit) {
<h2 mat-dialog-title class="text-center">Edit Patient</h2>
} @else {
<h2 mat-dialog-title class="text-center">Add Patient</h2>
}

<mat-dialog-content
  ><form
    id="patient-form"
    [formGroup]="patientsForm"
    (ngSubmit)="submitPatientsForm()"
  >
    <div class="grid grid-cols-2 mt-8">
      <mat-form-field class="ms-6">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Name" formControlName="name" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="ms-4">
        <mat-label>Age</mat-label>
        <input matInput placeholder="Enter age" formControlName="age" />
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-2 mt-4">
      <mat-form-field class="ms-6">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter email"
          type="email"
          formControlName="email"
        />
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="ms-4">
        <mat-label>Last Appointment Date</mat-label>
        <input
          formControlName="lastAppointmentDate"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint class="text-[#AAAAAA]">MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>
  </form></mat-dialog-content
>

<div class="flex justify-end mr-6">
  @if (isEdit) {
  <button
    mat-dialog-close
    form="patient-form"
    type="submit"
    class="text-[#AAAAAA] bg-[#444444] font-medium font-sans py-3 px-8 rounded-md hover:bg-[#2f2f2f] duration-300"
  >
    Edit</button
  >} @else {
  <button
    mat-dialog-close
    form="patient-form"
    type="submit"
    class="text-[#AAAAAA] bg-[#444444] font-medium font-sans py-3 px-8 rounded-md hover:bg-[#2f2f2f] duration-300"
  >
    Add
  </button>
  }

  <button
    mat-dialog-close
    class="text-[#AAAAAA] border-2 border-[#444444] bg-transparent hover:bg-[#444444] font-medium font-sans py-3 px-6 ml-2 rounded-md duration-300"
  >
    Cancel
  </button>
</div>
