@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #17181c;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ngx-pagination {
  text-align: center;
  margin-top: 30px !important;
}
.ngx-pagination .current {
  background: #3f3f3f !important;
}

.ngx-pagination a:hover {
  background: #c7c7c7 !important;
}
.ngx-pagination a:hover {
  color: #505050 !important;
}

.ngx-pagination a {
  color: #aaaaaa !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(212, 212, 212);
  border-radius: 5px;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(95%) brightness(99%) contrast(90%) !important;
}
